<div class="container-fluid">
  <div class="container">
    <nav class="navbar">
      <div class="mr-auto">
        <div *ngIf="byCategory; else bySearchBar">
          <span><a [routerLink]="['/home']"> Home </a></span>
          <span class="mr-1">/</span>
          <span>{{ category }}</span>
        </div>
        <ng-template #bySearchBar>
          <span><a [routerLink]="['/home']"> Home </a></span>
          <span class="mr-1">/</span>
          <span><a (click)="returnTo()">{{ category }}</a></span>
          <span class="ml-1 mr-1">/</span>
          <span>{{ title }}</span>
        </ng-template>
      </div>
      <div class="ml-auto">
        <app-search-bar></app-search-bar>
      </div>
    </nav>
  </div>
</div>
