<div class="container mb-4">
<h2>About Me</h2>
<hr/>
<div class="row mb-4">
  <div class="col-lg-12 col-md-6 mb-3">
    <img class="img-fluid" src="https://images.unsplash.com/photo-1588960952097-4cf35f0a0306?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" alt="image"/>
  </div>
  <div class="col-lg-12 col-md-6">
    Hello! This is a wee knowledgebase markdown app I built to practice Angular. It is built with Angular & Bootstrap
    and uses the ngx-markdown library to display the md files.
    As an example, this project is used to organise the users favourite recipes in an easily searchable way.
  </div>
</div>
<div class="row">
</div>
</div>

