<div class="container">
  <h1>Categories</h1>
  <hr/>
  <div *ngFor="let category of categories; let i = index; let even = even">
    <div class="row mb-3" *ngIf="even">
      <div class="col-md-6 mb-3">
        <div class="col-md-12">
          <a [routerLink]="['/knowledgebase']" [state]="{category: categories[i].category}">
          <h4>{{ categories[i].category }}</h4>
          <p>
            {{ categories[i].description }}
          </p>
          </a>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="col-md-12">
          <a [routerLink]="['/knowledgebase']" [state]="{category: categories[i+1].category}">
          <h4>{{ categories[i+1].category }}</h4>
          <p>
            {{ categories[i+1].description }}
          </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
