<div class="container">
  <h1>Categories</h1>
  <hr>
  <div class="row mb-3">
    <div class="col-md-6">
      <a  [routerLink]="['kb']" [state]="{ data: 'Category 1'}" (click)="reset()">
        <h4>Category 1</h4>
        <p>"Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </p>
      </a>
    </div>
    <div class="col-md-6">
      <a [routerLink]="['kb']" [state]="{ data: 'Category 2'}" (click)="reset()">
        <h4>Category 2</h4>
        <p>"Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </p>
      </a>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <a [routerLink]="['kb']" [state]="{ data: 'Category 3'}" (click)="reset()">
        <h4>Category 3</h4>
        <p>"Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </p>
      </a>
    </div>
    <div class="col-md-6">
      <a [routerLink]="['kb']" [state]="{ data: 'Category 4'}" (click)="reset()">
        <h4>Category 4</h4>
        <p>"Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </p>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a [routerLink]="['kb']" [state]="{ data: 'Category 5'}" (click)="reset()">
        <h4>Category 5</h4>
        <p>"Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </p>
      </a>
    </div>
    <div class="col-md-6">
      <a [routerLink]="['kb']" [state]="{ data: 'Category 6'}" (click)="reset()">
        <h4>Category 6</h4>
        <p>"Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </p>
      </a>
    </div>
  </div>
</div>
