<app-navbar [category]="category" [byCategory]="byCategory" [title]="title"></app-navbar>
<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col-md-9">
      <div *ngIf="byCategory;else bySearchBar">
        <div class="col-md-12">
          <h1>{{ category }}</h1>
          <hr />
          <app-entry-display *ngFor="let entry of entries" [entry]="entry"></app-entry-display>
        </div>
      </div>
      <ng-template #bySearchBar>
        <h1>{{ entry.title }}</h1>
        <hr />
        <app-entry [entryID]="entry.file"></app-entry>
      </ng-template>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <app-aboutme></app-aboutme>
        </div>
      </div>
    </div>
  </div>
</div>
