<div class="ng-autocomplete">
  <ng-autocomplete
    [data]="entries"
    [searchKeyword]="keyword"
    placeHolder="search for a recipe..."
    (selected)='selectEvent($event)'
    historyIdentifier="entries"
    [itemTemplate]="itemTemplate"
    [notFoundTemplate]="notFoundTemplate">
  </ng-autocomplete>
  <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.title"></a>
  </ng-template>
  <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
  </ng-template>
</div>
