
/deep/.card {
  border: none;
  margin-bottom: 1rem;
  background-color:  #f4f5f5;
}


.style1 {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.style2{
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);

}

.btn{
  font-size: 2rem;
  color: #2962ff;


}


.btn:focus {
  outline: none;
  box-shadow: none;

}
