<div class="container-fluid" id="searchBar">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="text-center">
          <h3>What do you need help with?</h3>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-2"></div>
      <div class="col-md-8">



          <div class="ng-autocomplete">


            <ng-autocomplete
              [data]="entries"
              [searchKeyword]="keyword"
              placeHolder="search the knowledgebase..."
              (selected)='selectEvent($event)'
              (inputChanged)='onChangeSearch($event)'
              historyIdentifier="entries"
              [itemTemplate]="itemTemplate"
              [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>

            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.e_title"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>


      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
