@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap");

::-webkit-scrollbar {
  display: none;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
  font-family: "Libre Franklin", sans-serif;
}
