<app-main-search></app-main-search>
<div class="container pt-3 mt-5">
  <div class="row">
    <div class="col-lg-9 col-md-12 order-2 order-lg-1">
      <app-categories></app-categories>
    </div>
    <div class="col-lg-3 col-md-12 order-1 order-lg-2">
      <div class="row">
        <div class="col-md-12">
          <app-aboutme></app-aboutme>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12"></div>
      </div>
      <div class="row">
        <div class="col-md-12"></div>
      </div>
    </div>
  </div>
</div>
